math_mas_project/.env
math_mas_project/src/agents/__pycache__/*
math_mas_project/src/__pycache__/*
math_mas_project/.langgraph_api/*
math_mas_project/__pycache__/*
mas_project/.env
mas_project/src/agents/__pycache__/*
mas_project/src/__pycache__/*
mas_project/.langgraph_api/*
code_agent/result/*
code_agent/__pycache__/*
mas_2/.env
mas_2/src/agents/__pycache__/*
mas_2/src/__pycache__/*
mas_2/.langgraph_api/*
mas_2/__pycache__/*
mas_2/data/*
mas_2/notebooks/cache/*
mas_2/notebooks/result/*
**/__pycache__/